# https://EditorConfig.org

root = true

[*.{cpp,hpp,h,f90,yaml}]
indent_style = space
indent_size = 2

# don't trim third_party code
[{include/gemmi/*.hpp,include/gemmi/refine/*.hpp,src/*,prog/*.cpp,prog/*.h,examples/*.cpp}]
trim_trailing_whitespace = true
# 80 characters is preferred, but if slightly longer line improves
# readability, up to 94 is ok.
max_line_length=94
