*.o
*.so
*.py[co]
a.out
/build
/dist
/gemmi.egg-info
CMakeFiles
tags
/docs/_build
src/gemmi-convert
src/gemmi-validate
src/gemmi-grep
src/gemmi-mask
# local pybind11 is used for testing new versions, don't add to the repo
third_party/pybind11
