include python/*.h*
recursive-include include/gemmi *.hpp
include include/gemmi/third_party/fast_float.h
include include/gemmi/third_party/pocketfft_hdronly.h
include include/gemmi/third_party/sajson.h
include include/gemmi/third_party/stb_sprintf.h
graft   include/gemmi/third_party/tao
include include/gemmi/third_party/tinydir.h
include third_party/zlib/*
include LICENSE.txt README.md
