
.highlight-pycon .highlight, .highlight-python .highlight {
 background: #fcfcce;
}
.highlight-cpp .highlight {
 background: #e2ffef;
}
.highlight-cpp .highlight .cl {
 color: #486878
}

/* roles used in mol.rst */
.orange-fg { color:#d50; }
.blue-bg { background-color:#ace; }
